<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>The application needs to access the Documents folder to manage and play music.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<false/>
		<key>NSAllowsArbitraryLoadsUsageDescription</key>
		<dict/>
		<key>NSAllowsArbitraryLoadsForMediaUsageDescription</key>
		<dict/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This key is required if your app uses APIs that have read or write access to the user’s photo library.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App has to access your photo library to save image</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
